!!!
%html
  %head
    %title The Beast Master
    %link{:rel=>'stylesheet', :href=>'/css/thebeastmaster.css', :type => "text/css"}       
  %body
    #container
      %h1 The Beast Master
      = yield